<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>

    <main>
      <div>
        <form action="/logs" method="post">
          <fieldset>
            <legend>Create New Log</legend>
            <label
              >Name:
              <input type="text" name="name" placeholder="Enter name" />
            </label>
            <label>
              Weight:
              <input type="text" name="weight" placeholder="Enter weight" />
            </label>
            <label>
              Note to Self:
              <input type="text" name="noteToSelf" placeholder="Write a motivational note to yourself"/>
            </label>
            <input type="submit" value="CREATE NEW LOG" />
          </fieldset>
        </form>
      </div>
    </main>
  </body>
</html>